@import url(h_content.css);

header{
    position: relative;
    display: flex;
    flex-direction: row;
    left: 0;
    top: 0;
    right: 0;
    height:791px;
    background-image: url(../img/blur_coffee.png);
    background-size: cover;
}
.coffee1{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
}

.right-img{
    height: 100%;
    width: 1px;
}
.coffee2{
    position: relative;
    left: -911px;
    top: 0;
    bottom: 0;
}
.guy{
    position: relative;
    
    top: -691px;
    left: -600px;
}

.yellow_gradient{
    position: absolute;
    display: none;
    z-index: 1;
    background: linear-gradient(0deg, #F8C712 30%, #FFFFFF00 70%);
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
}