.prices h1{
    font-family: Helvetica Neue;
    font-size: 37px;
    font-weight: bold;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;

}
.gift{
    display: table;
    margin: auto;
    width: 1105px;
    height: 361px;
    border-radius: 20px;
    margin-top: 100px;
}
