@media screen and (max-width: 960px) {
    .coffee1{
        display: none;
    }
    .coffee2{
        height: 80%;
        right: -240px;
    }
    .guy{
        right: -240px;
    }
    .h_content .p1{
        margin-top: 0;
    }
    .h_content .p2{
        font-size: 14px;
        line-height: 20px;
        width: 131px;
        margin-top: 5px;
    }
    .date{
        display: block;
        margin-top: 5px;
    }
    .h_button1, .h_button2{
        display: block;
        margin-top: 10px;
    }
    .yellow_gradient{
        position: absolute;
        background: linear-gradient(0deg, #F8C712 0%, #FFFFFF00 100%);
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .p_title{
        font-size: 26px;
    }
    .p_price{
        font-size: 50px;
    }
    .p_percent{
        font-size: 19px;
        padding: 10px;
        left: 62px;
        top: -17px;
    }
    .p_oldprice{
        font-size: 24px;
    }
    .p_list{
        font-size: 15px;
    }
    .p_pre{
        font-size: 22px;
    }
    .p_prepay{
        font-size: 32px;
    }
    .p_button{
        font-size: 18px;
        padding: 20px;
    }

    .gift{
        width: 800px;
        height: 261px;
    }
    .gift_text{
        font-size: 16px;
        line-height: 26px;
    }
    .plus_symbol{
        font-size: 60px;
        top: 20%;
    }

    .price_block{
        display: block;
    }
    .gift{
        width: 400px;
        height: 130px;
    }
    .gift_text{
        font-size: 10px;
        line-height: 16px;
    }
    .plus_symbol{
        font-size: 40px;
        top: -10%;
    }

    footer{
        font-size: 8px;
        line-height: 14.4px;
    }
    footer p{
        font-size: 8px;
        line-height: 12px;
    }
    footer span{
        display: inline;
    }
    .f_logo{
        width: 77px;
    }
}
@media screen and (max-width: 810px) {
    .empty_yellow_block{
        display: block;
    }
}