@media screen and (max-width: 960px) {
    .coffee1{
        left: -100px;
    }
    .coffee2{
        left: -561px;
    }
    .guy{
        left: -300px;
    }
    .h_content{
        position: relative;
        left: -100px;
        width: 209px;
    }
    .h_content .p1{
        margin-top: 30px;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
    }
    .h_content .p2{
        font-size: 14px;
        line-height: 20px;
        width: 131px;
        margin-top: 5px;
    }
    .date{
        display: block;
        margin-top: 5px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .date_d{
        font-size: 35px;
        margin-right: 10px;
    }
    .date_m{
        font-size: 16px;
    }
    .date_c{
        font-size: 12px;
    }
    .h_button1, .h_button2{
        display: block;
        margin-top: 10px;
        width: 235px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .h_button1{
        margin-top: 40px;
    }
    .yellow_gradient{
        display: block;
    }

    .p_title{
        font-size: 26px;
    }
    .p_price{
        font-size: 50px;
    }
    .p_percent{
        font-size: 19px;
        padding: 10px;
        left: 62px;
        top: -17px;
    }
    .p_oldprice{
        font-size: 24px;
    }
    .p_list{
        font-size: 15px;
    }
    .p_pre{
        font-size: 22px;
    }
    .p_prepay{
        font-size: 32px;
    }
    .p_button{
        font-size: 18px;
        padding: 20px;
    }

    .price_block{
        display: block;
    }
    .gift{
        width: 400px;
        height: 130px;
    }
    
    footer{
        font-size: 8px;
        line-height: 14.4px;
    }
    footer p{
        font-size: 8px;
        line-height: 12px;
    }
    footer span{
        display: inline;
    }
    .f_logo{
        width: 77px;
    }
}